html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', -apple-system, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle{
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  opacity: 0.1;
}